parameters:
    level: 6
    paths:
        - src
        - tests
    tmpDir: .phpstan.cache
    ignoreErrors:
        -
            message: '#Function (app|config) not found#'
            path: src/Laravel/ValidatesOpenApiSchema.php
        -
            message: '#Call to an undefined method Illuminate\\Testing\\TestResponse::#'
            path: src/Laravel/ValidatesOpenApiSchema.php
        -
            message: '#Access to an undefined property Illuminate\\Testing\\TestResponse::\$headers#'
            path: src/Laravel/ValidatesOpenApiSchema.php
        -
            message: '#Function config_path not found#'
            path: src/Laravel/OpenApiContractTestingServiceProvider.php
        -
            message: '#does not specify its types: TResponse#'
            path: src/Laravel/ValidatesOpenApiSchema.php
